{:aliases
 {:aot {:main-opts ["-e" "(compile,'sv.frame-stream.main)"]}

  :native-image
  {:main-opts ["-m clj.native-image sv.frame-stream.main"
               "--initialize-at-build-time"
               ;; optional native image name override
               "-H:Name=frame-stream-server"
               "-Dclojure.compiler.direct-linking=true"
               "-H:EnableURLProtocols=http"
               "--report-unsupported-elements-at-runtime" ;; ignore native-image build errors
               "--no-server"
               "--verbose"
               "--static"
               ]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps
   {clj.native-image
    {:git/url "https://github.com/taylorwood/clj.native-image.git"
     :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}
  }

 :paths ["src/clj" "resources" "classes"]

 :deps {org.clojure/clojure {:mvn/version "1.10.0"}

        ring/ring-core {:mvn/version "1.8.2"}

        babashka/babashka.process {:git/url "https://github.com/babashka/babashka.process"
                                   :sha "249ddcfd1a5825f33adacc9cfde72a0c3823bdc9"}
        cheshire/cheshire {:mvn/version "5.10.0"}

        com.google.guava/guava {:mvn/version "30.0-jre"}

        http-kit {:mvn/version "2.5.0"}

        com.pngencoder/pngencoder {:mvn/version "0.11.0"}

        org.bytedeco/ffmpeg {:mvn/version "4.3.1-1.5.4"}
        org.bytedeco/ffmpeg-platform {:mvn/version "4.3.1-1.5.4"}
        }
 }
